<div class="container">
    <div class="tab_header">
        <div class="row">
            <div class="col">
                A
            </div>
            <div class="col">
                D
            </div>
            <div class="col">
                C
            </div>
        </div>
    </div>

    <div class="tab_body">
        <div class="cell_label">
            <div class="col">
                A
            </div>
            <div class="col">
                D
            </div>
            <div class="col">
                C
            </div>
        </div>
        <div class="cells">
            <div class="row">
                <div class="col">
                    <input type="text" class="cell_input" />
                </div>
                <div class="col">
                    <input type="text" class="cell_input" />
                </div>
                <div class="col">
                    <input type="text" class="cell_input" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="cell_input" />
                </div>
                <div class="col">
                    <input type="text" class="cell_input" />
                </div>
                <div class="col">
                    <input type="text" class="cell_input" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="cell_input" />
                </div>
                <div class="col">
                    <input type="text" class="cell_input" />
                </div>
                <div class="col">
                    <input type="text" class="cell_input" />
                </div>
            </div>
        </div>
    </div>
</div>
