<div class="container">
    <div class="tab_header">
        <div class="row">
            <div *ngFor="let col of affectationTab.cols" class="col">
                {{ affectationTab.colHeader[col] }}
            </div>
        </div>
    </div>

    <div class="tab_body">
        <div class="cell_label">
            <div *ngFor="let row of affectationTab.rows" class="row">
                <div class="col">
                    {{ affectationTab.rowHeader[row] }}
                </div>
            </div>
        </div>
        <div class="cells">
            <ng-container *ngIf="affectationTab">
                <div *ngFor="let row of affectationTab.rows" class="row">
                    <div *ngFor="let col of affectationTab.cols" class="col">
                        <input
                            [(ngModel)]="affectationTab.getCell(row,col).value"
                            type="number"
                            min="0"
                            class="cell_input"
                        />
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="actions">
        <button (click)="onResolve()">resoudre</button>
    </div>
</div>
