<div class="container">
    <div class="tab_header">
        <div class="row">
            <div *ngFor="let col of affectationTab.cols" class="col">
                {{ affectationTab.colHeader[col] }}
            </div>
        </div>
    </div>
    <div class="tab_body">
        <div class="cell_label">
            <div *ngFor="let row of affectationTab.rows" class="row">
                <div class="col">
                    {{ affectationTab.rowHeader[row] }}
                </div>
            </div>
        </div>
        <div class="cells">
            <ng-container *ngIf="affectationTab">
                <div *ngFor="let row of affectationTab.rows" class="row">
                    <div
                        *ngFor="let col of affectationTab.cols"
                        class="col"
                        [ngClass]="{
                                    'marked': affectationTab.getCell(row,col).marked, 
                                    'barred': affectationTab.getCell(row,col).barred, 
                                    'rowMarked': affectationTab.getCell(row,col).rowMarked, 
                                    'colMarked': affectationTab.getCell(row,col).colMarked,
                                    'colRowMarked': affectationTab.getCell(row,col).rowMarked && affectationTab.getCell(row,col).colMarked
                                }"
                    >
                        <div *ngIf="isDisplay" class="cell_value">
                            {{ affectationTab.getCell(row,col).value }}
                        </div>
                        <input
                            *ngIf="!isDisplay"
                            [(ngModel)]="affectationTab.getCell(row,col).value"
                            type="number"
                            min="0"
                            class="cell_input"
                            (input)="cellValueChange()"
                        />
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
    <div *ngIf="!isDisplay" class="actions">
        <button (click)="onResolve()">resoudre</button>
    </div>
</div>
