<div class="container">
    <app-header></app-header>
    <div class="content">
        <div class="tab_form">
            <div class="input_group">
                <div class="label">Nombre de ligne et Colonne</div>
                <input
                    [(ngModel)]="simpleTab.rowAndCol"
                    type="number"
                    min="0"
                    class="input"
                    (input)="colAndRowChange()"
                />
            </div>
            <div class="input_group">
                <div class="label">Type</div>
                <select class="input" [(ngModel)]="simpleTab.type">
                    <option [value]="AFFECTATION_TYPE.MIN">Minumun</option>
                    <option [value]="AFFECTATION_TYPE.MAX">Maximum</option>
                </select>
            </div>
            <div *ngIf="simpleTab.type == AFFECTATION_TYPE.MAX" class="input_group">
                <div class="label">Complement</div>
                <input [(ngModel)]="simpleTab.complement" type="number" min="0" class="input" />
            </div>
            <div class="btn">
                <button (click)="createTab()" class="btn_primary">Créer tableau</button>
            </div>
        </div>
        <div class="tab_body">
            <div>
                <ng-container *ngIf="affectationTab">
                    <app-affectation-tab
                        (maxChange)="onMaxChange($event)"
                        (resolveAffectation)="resolveAffectation($event)"
                        [affectationTab]="affectationTab"
                    ></app-affectation-tab>
                </ng-container>
            </div>
            <div class="complement" *ngIf="simpleTab.type == AFFECTATION_TYPE.MAX && affectationTab">
                <div>
                    <p>Complément à</p>
                    <p>{{ simpleTab.complement }}</p>
                </div>
            </div>
            <ng-container *ngIf="affectationTabResult.length">
                <app-affectation-tab
                    *ngFor="let affectationTab of affectationTabResult"
                    [isDisplay]="true"
                    [affectationTab]="affectationTab"
                ></app-affectation-tab>
            </ng-container>
            <div *ngIf="solutionFound">
                <div class="solution_container">
                    <div class="title">Solution trouvé</div>
                    <div class="affectation" *ngFor="let arc of affectionSolution">
                        <div class="row">{{ affectationTab.rowHeader[arc.rowIndex] }}</div>
                        <div class="array">====></div>
                        <div class="col">{{ affectationTab.colHeader[arc.colIndex] }}</div>
                        <div class="separator">:</div>
                        <div class="value">{{arc.value}}</div>
                    </div>
                    <div class="footer">D = {{ solutionValue }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
